body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }

        #errorMessage {
            color: red;
            font-weight: bold;
            margin-bottom: 20px;
        }

        #objectList {
            list-style-type: none;
            padding: 0;
        }

        #objectList li {
            background-color: #fff;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }